<article class="home">
    <h1 class="home__h1">Brayan Cardenas</h1>

    <p class="home__p">Soy <span>Front-end</span> developer.</p>

    <p class="home__p">Mi objetivo profesional es desarrollar páginas y aplicaciones que ofrezcan una innovación tecnológica y que, al mismo tiempo, le brinden la mejor experiencia digital a los usuarios, al desarrollar mis conocimientos y habilidades adquiridas, en un área que me apasiona.</p>
    <p class="home__p">Todo esto mediante la implementación del framework de <span>Angular</span>.</p>

    <p class="home__p"></p>
</article>

