<article class="home">
    <h1 class="home__h1">Brayan Cardenas</h1>
    <p class="home__p">Soy desarrollador <span>front-end</span> 
    <br><br>
    Soy una persona autodidacta, me gusta hacer las cosas lo mas eficaz posible<br>
    Actualmente me encuentro aprendiendo <span>Angular</span>
    <br><br>
    Me gusta codificar cosas desde cero y disfruto dando vida a las ideas en el navegador
    <br><br>
    Mi meta es especializarme en angular aunque no descarto algun otro frimework
    </p>
</article>

