<section class="skills">
    <div class="skills__type">
        <h2>Tecnologias que manejo</h2>
        <ul class="know__item">
            <li>
                <img src="../../../assets/img/skills/html.png" alt="">
                <p>html</p>
            </li>
            <li>
                <img src="../../../assets/img/skills/css.png" alt="">
                <p>CSS</p>
            </li>
            <li>
                <img src="../../../assets/img/skills/javascript.png" alt="">
                <p>JavaScript</p>
            </li>
            <li>
                <img src="../../../assets/img/skills/bootstrap.png" alt="">
                <p>Bootstrap</p>
            </li>
        </ul>
    </div>
    <div class="skills__type">
        <h2>Estoy Aprendiendo</h2>
        <ul class="learn__item">
            <li>
                <img src="../../../assets/img/skills/sass.png" alt="">
                <p>Sass</p>
            </li>
            <li>
                <img src="../../../assets/img/skills/angular.png" alt="">
                <p>Angular</p>
            </li>
            <li>
                <img src="../../../assets/img/skills/git.png" alt="">
                <p>Git</p>
            </li>
        </ul>
    </div>
</section>
